
p,h1,h2,h3,h4 {
      color: #663399;
    }
    .listIconOkay{

      margin-top: 15px;
      font-size:15px;
      color:#663399;
      display:block;
    }

    .imageMaxHeight{

      max-height: 25em;
    }

    .sectionGap{
      margin-top: 5em;
    }
    .floatingImage{

      position: absolute;
      left:10%;
      
    }

    .button {

    	background-color: #663399;
    }

    @media screen and (min-width: 280px) and (max-width:800px) {
  		
  		.floatingImage {top:-5em;}
	}

  .pageHeaderSection{

    margin-left: 40%;
  }

  .panelMargin{
    margin:55px 50px 50px 50px;
    border: 2px solid red;
  }