<div class="container-fluid">
    <!-- Control the column width, and how they should appear on different devices -->
    <div class="row sectionGap">
      <div class="col-sm-6">
        <h4> Welcome to eShop.  </h4>
        <p>This website help you sell your products. Also you can buy products for less. </p>
        <div class="row">
          <div class="col">
            <h4> Sell </h4>
            <br/>
            <p> Got some unwanted products. Sell in our website for free. </p>
          </div>
          <div class="col">
            <h4> Buy </h4>
             <br/>
            <p> Looking to purchase new/used  products for less. Please browse our website.  </p>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <button type="button" routerLink="/products" class="btn btn-dark button" name="getStarted"> Sell Your Product </button>
          </div>

          <div class="col">
            <button type="button" routerLink="/new" class="btn btn-dark button" name="getStarted"> Buy New Product </button>
          </div>

        </div>

      </div>
      <div class="col-sm-6"><img class="imageMaxHeight" src ="assets/images/Img/NewProduct.JPG"></div>
    </div>
    
    
    <div class="row sectionGap">
      
      <div class="col-sm-6 col-md-8 col-lg-6"><img class="imageMaxHeight" src ="assets/images/Img/SellProduct.JPG"></div>
      <div class="col-sm-6 col-md-4 col-lg-6">
        <h4> Secure Payment  </h4>
        <p>We provide secure transaction management system for all the online transaction. </p>
        <div class="row">

          <div class="col">

            <h4> Live Chat </h4>
            <br/>
            <p> Love to chat with all connected users. Click get started button below to make a start.   </p>
          </div>
          <div class="col">
            <h4> Queries? </h4>
             <br/>
            <p> Coming Soon... </p>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <button type="button" (click)="showMessagePanel()" class="btn btn-dark button" name="getStarted"> Get Started </button>
          </div>

          <div class="col">
            <p> <b> Questions? Talk to our team <span class="glyphicon glyphicon-arrow-right"> </span> </b></p>
          </div>

        </div>

      </div>
    </div>
    <br>
    
    
    <div class="row sectionGap">
      <div class="col-sm-8 col-md-6">

        <h4> Sold Products Gallery </h4>
        <p routerLink="/list-product"> Wish to browse our sold product gallery. <abbr class="textUnderLine"> Please click here </abbr> </p>
        
        <div class="row">
          <div class="col">
            <h4> Our Services </h4>
            <br/>
            
          </div>
          
        </div>
        <div class="row">
          <div class="col">
            <span class="glyphicon glyphicon-ok-circle listIconOkay"> Purchase Used Products For Less  </span>
            <span class="glyphicon glyphicon-ok-circle listIconOkay"> Sell Unwanted Products  </span>
            <span class="glyphicon glyphicon-ok-circle listIconOkay"> Offer Unwanted Products For Free  </span>
          </div>

        </div>
      </div>
      <div class="col-sm-4 col-md-6"><img class="imageMaxHeight floatingImageDimension" src ="assets/images/Img/DynamicView.JPG"> <img class="imageMaxHeight floatingImage floatingImageDimension" src ="assets/images/Img/Gallery.JPG">
    </div>
    </div>
    <br>
    
    <div class="row sectionGap">
      
      <div class="col-sm-7 col-md-6 col-lg-6">
        <h4> About Us </h4>

            <span class="glyphicon glyphicon-ok-circle listIconOkay"> Purchase Used Products For Less  </span>
            <span class="glyphicon glyphicon-ok-circle listIconOkay"> Sell Unwanted Products  </span>
            <span class="glyphicon glyphicon-ok-circle listIconOkay"> Offer Unwanted Products For Free  </span>
        <br/>
        
      </div>

      <div class="col-sm-5 col-md-6 col-lg-6">
        <h3> Contact Us </h3>
         
          <span class="glyphicon glyphicon-ok-circle listIconOkay"> Mobile Number: 0750 87* ****</span>
          <span class="glyphicon glyphicon-ok-circle listIconOkay"> Fax Number: 01247******  </span>
          <span class="glyphicon glyphicon-ok-circle listIconOkay"> Address: ** The Green, Wigan, Lancashire, Wn5 *** </span>
          <br/>
          <h4> Live Chat </h4>
          <br/>
          <div *ngIf="showLiveChatPanel" style="background:#F0FFF0;width:350px;height:150px;">
            <p style="max-height:20%;" *ngFor="let message of messages">{{message}} </p>
          </div>
          
          <input [(ngModel)]="message" />
          <button (click)="sendMessage()">Send</button>

      </div>
      
    </div>

  </div>